.alpha {
  background-image: url(#{$assets-images-path}eto-team.jpg);
  background-position: top center;
  background-size: cover;
  height: 95vh;
  text-align: center;
  width: 100%;

  .title-wrapper {
    left: 0;
    padding: 0 0.5em;
    position: absolute;
    top: 45%;
    width: 100%;

    @include media($medium-screen) {
      h1 {
        color: $white;
        font-size: 3.5em;
        font-weight: 400;
        margin-bottom: 0.1em;
      }
    }

    @include media($tablet-portrait) {
      top: 50%;

      h1 {
        color: $white;
        font-size: 2.7em;
        font-weight: 400;
        margin-bottom: 0.1em;
      }
    }

    @include media($phone-small) {
      h1 { font-size: 2em; }
    }

    @include media($phone-portrait) {
      h1 { font-size: 1.6em; }
    }
  }


  .mission-statement {
    font-weight: 100;
    margin-bottom: 3em;

    @include media($phone-landscape) {
      margin-bottom: 1.5em;
    }

    .ms-item {
      color: $white;
      display: inline;
      margin-right: 13px;

      @include media($phone-portrait) {
        display: block;
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .second {
      @include media($phone-landscape) {
        margin-right: 0;
      }
    }

    .second::before {
      content: "\2022";
      padding-right: 15px;

      @include media($phone-portrait) {
        content: unset;
        padding-right: 0;
      }
    }

    .third::before {
      content: "\2022";
      padding-right: 15px;

      @include media($phone-landscape) {
        content: unset;
        padding-right: 0;
      }
    }

    .line-break {
      display: none;

      @include media($phone-landscape) {
        display: block;
      }

      @include media($phone-portrait) {
        display: none;
      }
    }
  }

  button {
    background: none;
    border: 1px solid $white;
    color: $white;
    font-size: 1em;
    margin-bottom: 4em;
    padding: 0.5em 0.9em 0.7em;

    @include media($phone-landscape) {
      font-size: 0.8em;
      padding: 0.5em 0.9em 0.7em;
    }

    &:hover,
    &:focus {
      background-color: shade($white, 50%);
      color: $white;
    }
  }
}
