.jesus-hero {
  $hero-color: #d6d6d6;
  $hero-image: "#{$assets-images-path}jesus-hero-1000w.jpg";
  background: url($hero-image), no-repeat scroll;
  background-color: $hero-default-background;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid $subtle-gray;

  .jesus-inner {
    @include outer-container;
    color: $white;
    padding: 4em 6em;
    text-align: center;

    @include media($tablet-portrait) {
      padding: 3em 4em;
      h1 { font-size: 3em; }
    }

    @include media($phone-landscape) {
      padding: 2em;
    }

    @include media($phone-portrait) {
      padding: 1em;
      h1 { font-size: 2em; }
    }

    h1 {
      color: $white;
      margin-bottom: 0.3em;
    }
  }
}

.meet-jesus-intro,
.all-have-sinned,
.your-verdict,
.who-is-jesus,
.sins-paid {
  border-bottom: 1px solid $subtle-gray;
}

.meet-jesus-intro,
.all-have-sinned,
.your-verdict,
.who-is-jesus,
.sins-paid,
.conclusion {
  .inner-row {
    @include outer-container;
    padding: 2em 0;
    text-align: center;

    @include media ($tablet-mid) {
      padding: 2em;
    }

    @include media ($phone-small) {
      padding: 1em;
    }

    .content,
    .content-1,
    .content-2,
    .content-3 {
      text-align: left;
    }
  }

  h2 {
    color: $dark-gray;
    font-size: $h3-font-size;
    margin-bottom: 1em;

    @include media ($phone-small) {
      font-size: $h4-font-size;
    }
  }
}

.all-have-sinned,
.who-is-jesus,
.conclusion {
  background-color: $white;
}

blockquote {
  margin: 2em 3em;

  p {
    color: lighten($base-font-color, 15%);
    font-family: $serif;
  }
}

.meet-jesus-svg {
  height: 100%;
  width: 100%;
}

.meet-jesus-intro {
  .content {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: 0 4em;

    @include media($tablet-mid) {
      @include span-columns(10 of 12);
      @include shift(1);
    }

    @include media($tablet-small) {
      @include shift(0);
      padding: 0 2em;
      width: 100%;
    }

    @include media($phone-landscape) {
      padding: 0 1em;
    }

    @include media($phone-portrait) {
      blockquote {
        margin: 1em;
      }
    }

    p {
      text-align: center;
    }
  }
}

.all-have-sinned {
  .image-1 {
    @include span-columns(2 of 12);
    @include shift(2);
    padding: 9px 1em 0 0;

    @include media($tablet-mid) {
      @include span-columns(2 of 8);
      @include shift(0);
    }

    @include media($phone-small) {
      padding-right: 0;
    }

    @include media($phone-portrait) {
      @include span-columns(2 of 4);
      @include shift(1);
      padding: 0 1em 1em;
    }
  }

  .content-1 {
    @include span-columns(6 of 12);
    padding-left: 2em;

    @include media($tablet-mid) {
      @include span-columns(6 of 8);
      padding-left: 0;
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
    }
  }

  .content-2 {
    @include span-columns(5 of 12);
    @include shift(2);
    padding-right: 2em;

    @include media($tablet-portrait) {
      padding-right: 1em;
    }

    @include media($tablet-mid) {
      @include span-columns(6 of 8);
      @include shift(0);
      padding-right: 0;
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
    }
  }

  .image-2 {
    @include span-columns(3 of 12);

    @include media($tablet-mid) {
      @include span-columns(2 of 8);
    }

    @include media($phone-small) {
      padding-left: 0;
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
      padding: 1em 2em 0;
    }
  }

  .rom-323 {
    color: $primary-red;
    font-size: 0.7em;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;

    @include media($phone-small) {
      font-size: 0.5em;
    }
  }

  .come-short {
    text-decoration: underline;
  }
}

.your-verdict {
  .content-1 {
    @include span-columns(5 of 12);
    @include shift(2);
    padding-right: 2em;

    @include media($tablet-mid) {
      @include span-columns(6 of 8);
      @include shift(0);
      padding-right: 0;
    }

    @include media($phone-landscape) {
      @include span-columns(5 of 8);
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
    }
  }

  .image-1 {
    @include span-columns(3 of 12);
    padding-top: 9px;

    @include media($tablet-mid) {
      @include span-columns(2 of 8);
    }

    @include media($phone-small) {
      padding-left: 0;
    }

    @include media($phone-landscape) {
      @include span-columns(3 of 8);
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
      padding: 1em 2em 0;
    }
  }

  .content-2 {
    @include span-columns(5 of 12);
    @include shift(2);
    padding-right: 2em;

    @include media($tablet-portrait) {
      padding-right: 1em;
    }

    @include media($tablet-small) {
      @include span-columns(6 of 8);
      @include shift(0);
      padding-right: 0;
    }

    @include media($phone-landscape) {
      @include span-columns(5 of 8);
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
    }
  }

  .image-2 {
    @include span-columns(3 of 12);
    padding-top: 9px;

    @include media($tablet-small) {
      @include span-columns(2 of 8);
    }

    @include media($phone-landscape) {
      @include span-columns(3 of 8);
    }

    @include media($phone-small) {
      padding-right: 0;
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
      padding: 1em 2em 0;
    }
  }

  .content-3 {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: 0 4em;

    @include media($tablet-mid) {
      padding: 0;
    }

    @include media($tablet-small) {
      @include span-columns(8 of 8);
      @include shift(0);
    }

    > p {
      text-align: center;
    }
  }
}

.who-is-jesus {
  .content {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: 0 4em;

    @include media($tablet-mid) {
      padding: 0;
    }

    @include media($tablet-small) {
      @include span-columns(8 of 8);
      @include shift(0);
    }

    h4 {
      font-weight: 400;
      margin-bottom: 0.3em;
      text-align: center;

      @include media($phone-landscape) {
        font-size: 1em;
      }
    }

    p {
      margin-bottom: 2em;
      text-align: center;
    }
  }
}

.sins-paid {
  .image-1 {
    @include span-columns(3 of 12);
    @include shift(2);
    padding-top: 9px;

    @include media($tablet-mid) {
      @include span-columns(4 of 12);
      @include shift(1);
    }

    @include media($tablet-portrait) {
      @include span-columns(3 of 8);
      @include shift(0);
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
      padding: 0 2em 1em;
    }
  }

  .content-1 {
    @include span-columns(5 of 12);

    @include media($tablet-mid) {
      @include span-columns(6 of 12);
    }

    @include media($tablet-portrait) {
      @include span-columns(5 of 8);
    }

    @include media($phone-portrait) {
      @include span-columns(4 of 4);
    }
  }

  .image-2 {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: 0 6em;

    @include media($tablet-mid) {
      padding: 0 2em;
    }

    @include media($tablet-small) {
      @include span-columns(8 of 8);
      @include shift(0);
      padding: 0 4em;
    }

    @include media($phone-portrait) {
      padding: 0;
    }
  }

  .content-2 {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: 0 4em;

    @include media($tablet-mid) {
      padding: 0;
    }

    @include media($tablet-small) {
      @include span-columns(8 of 8);
      @include shift(0);
    }

    @include media($phone-portrait) {
      blockquote {
        margin: 1em;
      }
    }

    h3 {
      color: $primary-red;
      font-family: $cinzel;
      font-size: $h2-font-size;
      margin: 0.725em 0;
      text-align: center;

      @include media($phone-portrait) {
        font-size: $h3-font-size;
      }
    }

    p {
      text-align: center;
    }
  }
}

.conclusion {
  .content {
    @include span-columns(8 of 12);
    @include shift(2);
    padding: 0 4em 2em;

    @include media($tablet-mid) {
      padding: 0;
    }

    @include media($tablet-small) {
      @include span-columns(8 of 8);
      @include shift(0);
    }

    @include media($phone-portrait) {
      blockquote {
        margin: 1em;
      }
    }

    .address > p {
      color: $base-font-color;
      font-family: $base-font-family;
      font-weight: bold;
    }

    p {
      text-align: center;
    }

    a {
      border-bottom: 1px solid $action-color;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: 0;
      }
    }
  }
}
