.blog_heading {
  text-align: center;
}

.narrow_container {
  max-width: 700px;
  margin: 50px auto 0 auto;
}

.article-preview {
  border-bottom: 1px solid $base-border-color;
  margin-bottom: $base-spacing * 1.5;
  padding-bottom: $base-spacing * 1.5;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.article-preview__title {
  h2 {
    line-height: 1;
    margin-bottom: 7px;

  }

  a {
    color: $base-font-color;

    &:hover,
    &:focus {
      color: $action-color;
    }
  }
}

.article-preview__meta {
  font-size: .8rem;
  padding-left: 3px;

  .meta-author {
    display: inline-block;
  }

  .meta-date {
    margin-right: $base-spacing;

  }
}

.article-preview__content {
  p { margin-bottom: 0.5em; }
}
