.contact {

  > h1,
  > p {
    text-align: center;
  }

  > p {
    font-size: smaller;
    margin-bottom: 2em;
  }
}

.contact-form {
  @include span-columns(8 of 12);
  @include shift(2);
  background-color: $white;
  border: 1px solid $subtle-gray;
  border-radius: 5px;
  padding: 1em;

  @include media($tablet-portrait) {
    @include shift(0);
    width: 100%;
  }

  @include media($phone-landscape) {
    padding: 1em;
  }

  input,
  textarea {
    background-color: $white;

    @include media($phone-landscape) {
      font-size: 0.8em;
    }
  }
}

#my-form-status {
  margin-top: 0.75em;
}
