#content-wrapper {
  padding-top: 68px;
  flex: 1 0 auto;

  @include media ($phone-landscape) {
    padding-top: 54px;
  }
}

.page-content {
  @include outer-container;
  padding: 3em 2em;
  width: em(650);

  @include media($tablet-portrait) {
    padding: 2em;
    width: 100%;
  }

  @include media($phone-landscape) {
    padding: 1em;

    h1 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.4em;
    }
  }

  @include media($phone-portrait) {
    font-size: 0.8em;
  }
}

@include media($phone-landscape) {
  p,
  li { font-size: smaller; }
}
