.subscribe {
  background-color: lighten($subtle-gray, 5%);
  border-top: 1px solid $subtle-gray;
  padding: 1em;

  .wrap {
    @include outer-container;
    text-align: center;

    h4 {
      color: $primary-blue;
      font-weight: 700;
      margin-bottom: 0.3em;
    }

    p {
      font-size: smaller;
      margin-bottom: 1em;
    }
  }
}

.mc-embed-signup {
  .mc-embed-signup-scroll {
    @include outer-container;
    margin: 0 auto;
    width: em(400);

    @include media($tablet-portrait) {
      width: 80%;
    }

    @include media($phone-landscape) {
      width: 100%;
    }
  }

  input {
    font-size: 1em;
    line-height: normal;

    @include media($phone-landscape) {
      font-size: 0.8em;
    }

    @include media($phone-portrait) {
      font-size: 0.6em;
    }
  }

  .email {
    @include span-columns(9 of 12);
    background-color: $white;
    padding: 0.43em;
  }

  .button {
    @include span-columns(3 of 12);
    padding: 0.4em 0 0.46em;
  }
}
