%script{ "data-dojo-config" => "usePlainJson: true, isDebug: false",
  :src => "//downloads.mailchimp.com/js/signup-forms/popup/embed.js",
  :type => "text/javascript" }
:javascript
  require(["mojo/signup-forms/Loader"], function(L) {
    L.start({
      "baseUrl":"mc.us6.list-manage.com",
      "uuid":"672df31cd6d0e7132c9c4c7d1",
      "lid":"d107e57061"
    })
  })
