%section.subscribe
  .wrap
    %h4
      %i.fa.fa-fw.fa-envelope
      Let&rsquo;s keep in touch!
    %p To receive our newsletter, please enter your email below.
    = partial "subscribe-form-horizontal"
