.mc-embed-signup
  %form{ action: data.site.mailchimp_url, method: "post",
    name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank" }
    .mc-embed-signup-scroll
      %input.email{ name: "EMAIL", placeholder: "Your email", required: "",
        type: "email", value: "" }
        %div{ "aria-hidden" => "true",
          style: "position: absolute; left: -5000px;" }
          %input{ name: "b_672df31cd6d0e7132c9c4c7d1_d107e57061",
            tabindex: "-1", type: "text", value: "" }
        %input.button{ name: "subscribe", type: "submit", value: "Subscribe" }
