---
title: Patricia Rebsch
---

%section.bio-image-hero
  .image-wrapper
    = image_tag "team-patricia-portrait-500w.jpg", class: "portrait",
      alt: "Patricia Rebsch"

%section.bio-title
  %h1 Patricia Rebsch

%section.bio-content
  .bio-patricia
    = partial "markdown/patricia-bio"
