---
title: Thank you!
hide_from_sitemap: true
---

.page-content
  %h1 Thank you!
  %p
    Your donation has been submitted. You should receive a receipt soon from PayPal.
  %p
    We are sincerely grateful for your generosity.
